{{ define "footer" }}
<nav>
<p>Topics</p>
<ul>
    <li><a href="/category/Denmark">Denmark</a></li>
    <li><a href="/category/Politics">Politics</a></li>
    <li><a href="/category/Copenhagen">Copenhagen</a></li>
</ul>
</nav>
<footer>
    <nav class="lower-nav-container">
        <li><a href="/about">About</a></li>
        <li><a href="https://github.com/duarteocarmo/newshavn" target="_blank">GitHub</a></li>
        <li><a href="https://duarteocarmo.com/about" target="_blank">About me</a></li>
    </nav>
    <p>&copy MIT Licensed</p>
    <script defer data-domain="newshavn.duarteocarmo.com" src="https://plausible.io/js/script.js"></script>
</footer>
{{ end }}

